.introduction_page_container {
  width: 100%;
  height: 100vh;
  background-image: url("../resources/images/background.png");
}

header {
  width: 100%;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ccc;
}
.nav {
  display: flex;
  justify-content: space-around;
}
.navlink {
  list-style: none;
  margin: 0;
}
.navlink a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.2em;
}
.row {
  margin-top: 50px;
  display: flex;
}

.main-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 90px;
  color: white;
  max-width: 600px;
  
  @apply text-6xl mb-20;
}
.learn {
  color: #b9ffc4;
}
.low-bandwidth {
  color: #ffa5a5;
}
.column {
  flex: 50%;
  padding-left: 20rem;
}
